.anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;

    &:after {
        content: '\2807';
        text-decoration: bold;
        color: black;
    }
}