.anchor:after {
    content: '\2807';

    background-color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: bold;
    color: black;

    height: 10vh;
    font-size: 10vh;
    line-height: 10vh;
}